[mysqld]
# Decrease the minimum token size for InnoDB fulltext searches to 2, so that we can match titles like <https://standardebooks.org/ebooks/yevgeny-zamyatin/we/gregory-zilboorg>.
innodb_ft_min_token_size = 2
