# This is the config file for PHPStan when run from the command line.

includes:
	- ../../vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon

parameters:
	ignoreErrors:
		# Ignore errors caused by Template static class reflection
		- '#Call to an undefined static method Template::[a-zA-Z0-9\\_]+\(\)\.#'

		# Ignore errors caused by no type hints on class properties, as that's not available till PHP 7.4
		- '#Property .+? has no type specified.#'

		# Ignore errors caused by type hints that should be union types. Union types are not yet supported in PHP.
		- '#Function vd(s|d)?\(\) has parameter \$var with no type specified.#'
		- '#Method Ebook::NullIfEmpty\(\) has parameter \$elements with no type specified.#'
		- '#Method HttpInput::GetHttpVar\(\) has no return type specified.#'
		- '#Method HttpInput::GetHttpVar\(\) has parameter \$default with no type specified.#'
	level:
		8
	paths:
		- %rootDir%/../../../lib
		- %rootDir%/../../../www
		- %rootDir%/../../../scripts
	dynamicConstantNames:
		- SITE_STATUS
		- DONATION_HOLIDAY_ALERT_ON
		- DONATION_ALERT_ON
		- DONATION_DRIVE_ON
		- DONATION_DRIVE_COUNTER_ON
