@font-face{
	font-family: "Fira Mono";
	src: local("Fira Mono"), url("/fonts/fira-mono.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face{
	font-family: "Fira Mono";
	src: local("Fira Mono"), url("/fonts/fira-mono-bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

.message{
	background: rgba(0, 0, 0, .2);
}

main > section > ol.artwork-list{
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 4rem;
	align-items: center;
	justify-items: center;
	max-width: 100%;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

ol.artwork-list > li{
	margin: 0;
}

ol.artwork-list > li.in-use,
ol.artwork-list > li.unverified,
ol.artwork-list > li.declined{
	position: relative;
}

ol.artwork-list > li.in-use picture::before{
	/* Stripes */
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	background-image: url("/images/stripes-xdark.svg");
	pointer-events: none;
	z-index: 0;
}

ol.artwork-list > li.in-use::before,
ol.artwork-list > li.unverified::before,
ol.artwork-list > li.declined::before,
ol.artwork-list > li.in-use a::before,
ol.artwork-list > li.unverified a::before,
ol.artwork-list > li.declined a::before{
	/* Ribbon */
	font-family: "League Spartan", sans-serif;
	position: absolute;
	left: -.5rem;
	top: .5rem;
	padding: .5rem 1rem .5rem .5rem;
	line-height: 1;
	color: #ffffff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .75);
	text-transform: uppercase;
	font-size: .5rem;
	white-space: nowrap;
	font-weight: bold;
	clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
	z-index: 2;
}

ol.artwork-list > li.in-use::after,
ol.artwork-list > li.unverified::after,
ol.artwork-list > li.declined::after{
	/* Ribbon bottom wrap-around */
	content: "";
	position: absolute;
	top: calc(.5rem + .5rem + .5rem + .5rem);
	height: .5rem;
	width: .5rem;
	left: -.5rem;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
	z-index: 1;
	filter: brightness(50%);
}

ol.artwork-list > li.in-use a::before,
ol.artwork-list > li.unverified a::before,
ol.artwork-list > li.declined a::before{
	/* Ribbon shadow */
	left: calc(-.5rem + 2px);
	top: calc(.5rem + 2px);
	background: rgba(0, 0, 0, .4);
	z-index: auto;
}

ol.artwork-list > li.in-use::before,
ol.artwork-list > li.in-use::after{
	background: #424242;
}

ol.artwork-list > li.in-use::before,
ol.artwork-list > li.in-use a::before{
	content: "In use";
}

ol.artwork-list > li.declined::before,
ol.artwork-list > li.declined::after{
	background: #861d1d;
}

ol.artwork-list > li.declined::before,
ol.artwork-list > li.declined a::before{
	content: "Declined";
}

ol.artwork-list > li.unverified::before,
ol.artwork-list > li.unverified::after{
	background: #383760;
}

ol.artwork-list > li.unverified::before,
ol.artwork-list > li.unverified a::before{
	content: "unverified";
}

ol.artwork-list > li a:has(img){
	display: block;
	line-height: 0;
	border-radius: .25rem;
}

ol.artwork-list > li img{
	box-sizing: border-box;
	max-width: 100%;
	height: auto;
	border: 1px solid var(--border);
	border-radius: .25rem;
}

.artworks img{
	max-width: 100%;
}

form[action^="/artworks/"]{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.artworks form.browse-artwork{
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: auto auto auto 1fr;
	margin-top: 2rem;
	max-width: calc(100% - 2rem);
}

.artworks form.browse-artwork button{
	justify-self: end;
	margin-top: 1.4rem;
}


label.picture::before{
	bottom: 2.6rem; /* Fix alignment caused by "circa" checkbox */
}

.artworks form.browse-artwork label.search{
	grid-column: span 3;
}

.artworks form.browse-artwork label.sort{
	grid-column: span 2;
}

form.create-update-artwork > fieldset{
	display: grid;
	gap: 2rem;
}

form.create-update-artwork > fieldset + fieldset{
	margin-top: 2rem;
}

/* Artist details */
form.create-update-artwork > fieldset:nth-of-type(1){
	grid-template-columns: 1fr 1fr;
}

/* Artwork details */
form.create-update-artwork > fieldset:nth-of-type(2){
	grid-template-columns: 1fr 200px;
}

form.create-update-artwork > fieldset label:has(input[name="artwork-tags"]),
form.create-update-artwork > fieldset label:has(input[name="artwork-image"]){
	grid-column: 1 / span 2;
}

form.create-update-artwork fieldset fieldset:has(input[name="artwork-publication-year"]){
	display: grid;
	grid-template-columns: 200px 1fr;
	gap: 2rem;
}

form.create-update-artwork fieldset label:has(input[type="url"]),
form.create-update-artwork fieldset label:has(input[type="checkbox"]){
	grid-column: 1 / span 2;
}

form.create-update-artwork #pd-proof > fieldset{
	border-color: var(--body-text);
	border-width: 3px;
	border-style: double;
	padding: 1rem;
}

form.create-update-artwork fieldset p{
	font-style: italic;
	margin: 0;
	border: none;
}

form.create-update-artwork fieldset p:first-of-type{
	margin-top: 0;
}

form.create-update-artwork legend{
	font-size: 1.4rem;
	font-family: "League Spartan", Arial, sans-serif;
	margin-top: 2rem;
	margin-bottom: 1rem;
	line-height: 1.2;
	letter-spacing: 1px;
	text-transform: uppercase;
}

form.create-update-artwork label{
	display: block;
}

form div.footer{
	margin-top: 1rem;
	text-align: right;
}

.artwork-metadata{
	margin-top: 1rem;
}

.artwork-metadata td:first-child{
	font-weight: bold;
	text-align: right;
	white-space: nowrap;
}

.artwork-metadata td:last-child{
	width: 100%;
}

.artwork-metadata td{
	padding: 0.5rem;
}

main h1 ~ a[href^="/images/cover-uploads"],
.artworks h1 ~ a[href^="/images/cover-uploads"],
main section.narrow h1 ~ picture{
	width: auto;
	line-height: 0;
}

.artworks p.message + a[href^="/images/cover-uploads"]{
	margin-top: 2rem;
}

.artworks .tags{
	justify-content: unset;
}

.artworks figure p{
	background: #333;
	border: 1px solid var(--border);
	border-radius: .25rem;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	color: #fff !important; /* in case code highlighting fails */
	flex-grow: 1;
	margin: 0;
	padding: 1rem;
	text-align: left;
}

.artworks figure.wrong::before{
	background: #762729;
	font-family: "Fork Awesome";
	content: "\f00d";
	font-size: 1.5rem;
	width: 1.5rem;
	line-height: 1;
	margin-right: .5rem;
	color: #CF4647;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
	display: inline-block;
	flex-shrink: 0;
}

.artworks figure.corrected::before{
	background: #406451;
	font-family: "Fork Awesome";
	content: "\f00c";
	font-size: 1.5rem;
	line-height: 1;
	width: 1.5rem;
	color: #79BD9A;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
	flex-shrink: 0;
}

.artworks figure.wrong::before,
.artworks figure.corrected::before{
	display: flex;
	margin-right: 0;
	align-self: stretch;
	align-items: center;
	justify-content: center;
	padding: 0 .5rem;
	border-top-left-radius: .25rem;
	border-bottom-left-radius: .25rem;
	border: 1px solid var(--border);
	border-right: none;
}

.artworks figure.wrong,
.artworks figure.corrected{
	display: flex;
	align-items: center;
}

.artworks code{
	font-variant-numeric: normal;
	font-family: "Fira Mono", monospace;
	font-size: .8rem;
}

@media(max-width: 500px){
	.artwork-metadata td{
		display: block;
		padding: 0;
	}

	.artwork-metadata td:first-child{
		text-align: left;
	}

	.artwork-metadata tr + tr td:first-child{
		padding-top: 1rem;
	}
}

@media(max-width: 400px){
	/* Artist details */
	form.browse-artwork > fieldset:nth-of-type(1){
		grid-template-columns: 1fr;
	}

	form.browse-artwork > fieldset:nth-of-type(2){
		grid-template-columns: 1fr;
	}

	form.browse-artwork > fieldset label:has(input[name="artwork-tags"]),
	form.browse-artwork > fieldset label:has(input[name="artwork-image"]){
		grid-column: 1;
	}
}

@media(max-width: 1020px){
	main > section > ol.artwork-list{
		grid-template-columns: repeat(3, 1fr);
		gap: 3rem;
	}
}

@media(max-width: 760px){
	main > section > ol.artwork-list{
		grid-template-columns: repeat(2, 1fr);
		gap: 3rem;
	}

	.artworks form.browse-artwork{
		grid-template-columns: auto 1fr auto;
	}

	.artworks form.browse-artwork label.search,
	.artworks form.browse-artwork label.sort{
		grid-column: span 2;
	}

	.artworks form.browse-artwork button{
		grid-column: span 3;
	}
}

@media(max-width: 560px){
	form.create-update-artwork > fieldset:nth-of-type(1),
	form.create-update-artwork > fieldset:nth-of-type(2),
	form.create-update-artwork fieldset fieldset:has(input[name="artwork-publication-year"]){
		grid-template-columns: 1fr;
	}

	form.create-update-artwork fieldset label:has(input[type="url"]),
	form.create-update-artwork fieldset label:has(input[type="checkbox"]),
	form.create-update-artwork > fieldset label:has(input[name="artwork-tags"]),
	form.create-update-artwork > fieldset label:has(input[name="artwork-image"]){
		grid-column: 1;
	}
}

@media(max-width: 480px){
	main > section > ol.artwork-list{
		grid-template-columns: auto;
	}

	.artworks form.browse-artwork{
		grid-template-columns: auto;
	}

	.artworks form.browse-artwork label.sort,
	.artworks form.browse-artwork label.search,
	.artworks form.browse-artwork button{
		grid-column: auto;
	}
}
