.editors-note{
	border: 3px double var(--body-text);
	padding: 2em;
	font-style: italic;
	box-sizing: border-box;
	margin: 2em auto;
}

.editors-note h2{
	margin-top: 0;
	font-style: normal;
	text-align: center;
}

.editors-note i,
.editors-note em{
	font-style: normal;
}

h1 + .editors-note,
.byline + .editors-note{
	margin-bottom: 2rem;
}

section.blog{
	display: block;
}

.blog > picture.hero-image{
	display: block;
	position: relative;
	width: 100%;
	max-width: 880px;
	margin-bottom: 2rem;
	aspect-ratio: 880 / 250;
}

.blog > picture.hero-image img{
	display: block;
	width: 100%;
	height: auto;
	border: 1px solid var(--border);
	border-radius: .25rem;
	aspect-ratio: 880 / 250;
}

.byline{
	font-style: italic;
	text-align: center;
	border-top: 3px double;
	border-bottom: 3px double;
	padding: 1rem 0;
}

.blog-post-form{
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.blog-post-form textarea{
	white-space: pre;
	min-height: 32ex;
}

label:has(input[name="blog-has-hero-image"]:not(:checked)) + fieldset{
	display: none;
}

.footer{
	text-align: right;
}

.blog .donation{
	margin: 2rem auto;
}

.blog-post-list{
	list-style: none;
	padding: 0;
}

.blog-post-list > li{
	margin-top: 2rem;
}

.blog-post-card{
	display: flex;
	position: relative;
	box-sizing: border-box;
	min-height: 200px;
	padding: 1rem;
	overflow: hidden;
	background: #000;
	border-radius: .25rem;
}

.blog-post-card,
.blog-post-card:hover{
	text-decoration: none;
}

.blog-post-card picture{
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
}

.blog-post-card img{
	display: block;
	width: 100%;
	height: 100%;
}

.blog-post-card img{
	object-fit: cover;
}

.blog-post-card-label{
	position: relative;
	align-self: flex-start;
	box-sizing: border-box;
	max-width: 100%;
	padding: 1rem;
	background: rgba(0, 0, 0, .75);
	color: #fff;
	border-radius: .25rem;
}

.blog-post-card-title,
.blog-post-card-byline{
	display: block;
}

.blog-post-card-title{
	font-family: "League Spartan", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.25rem;
	text-align: left;
}

.blog-post-card-byline{
	margin-top: .2rem;
	font-family: "Crimson Pro", Georgia, serif;
	font-size: .85rem;
	font-style: italic;
}

.blog-post-card.no-hero-image .blog-post-card-label{
	margin-top: auto;
	margin-bottom: auto;
}
