.editors-note{
	border: 3px double var(--body-text);
	padding: 2em;
	font-style: italic;
	box-sizing: border-box;
	margin: 2em auto;
}

.editors-note h2{
	margin-top: 0;
	font-style: normal;
	text-align: center;
}

.editors-note i,
.editors-note em{
	font-style: normal;
}

h1 + .editors-note,
.byline + .editors-note{
	margin-bottom: 2rem;
}

section.blog{
	display: block;
}

.byline{
	font-style: italic;
}

.blog-post-form{
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.blog-post-form textarea{
	white-space: pre;
	min-height: 32ex;
}

.footer{
	text-align: right;
}

.blog .donation{
	margin: 2rem auto;
}
