@import url("monokai.css");

.manual p{
	text-align: left;
}

.manual section{
	margin-top: 2rem;
}

.manual section section{
	margin-left: 2rem;
}

.manual section ol{
	margin-top: 1rem;
	margin-left: 2rem;
}

.manual section + section,
.manual ol + section{
	counter-reset: none;
}

.manual section[id] ol > li{
	list-style: none;
}

.manual > article > section[id] > aside.number{
	position: absolute;
	width: 10rem;
	text-align: right;
	margin-left: -11rem;
	margin-top: 2rem;
	font-size: 2rem;
}

.manual h1 + section > h2:first-child{
	margin-top: 0;
}

.manual section[id] > aside.number,
.manual section[id] ol > li > aside.number{
	position: absolute;
	width: 10rem;
	margin-left: -10.5rem;
	text-align: right;
	font-family: "League Spartan", sans-serif;
	font-weight: normal;
}

.manual section[id] ol > li > aside.number{
	font-size: .75rem;
	margin-top: .2rem;
}

.manual > article > section[id] > section > aside.number{
	font-style: normal;
	margin-left: -11.5rem;
	margin-top: .15rem;
}

.manual section > aside.number{
	font-family: "League Spartan", sans-serif;
	line-height: 1.2;
}

.manual > article > section > aside.number{
	font-size: 1.2rem;
}

.manual h2,
.manual h3,
.manual h4,
.manual h5,
.manual h6{
	margin-top: 0;
}

.manual figure p{
	hyphens: none;
}

.manual table td:first-child{
	width: auto;
}

.manual table td code.path{
	white-space: nowrap;
}

.manual aside.tip{
	font-style: italic;
	margin: 1rem 0;
	position: relative;
	padding: 1rem;
	padding-left: 2rem;
	padding-top: 2rem;
	background: rgba(0, 0, 0, .2);
}

.manual aside.tip::before{
	font-family: "FontAwesome";
	content: "\f0eb";
	font-size: 1rem;
	position: absolute;
	font-style: normal;
	left: .75rem;
	top: .25rem;
}

.manual aside.tip::after{
	content: "Tip";
	font-family: "League Spartan";
	text-transform: uppercase;
	font-size: .75rem;
	position: absolute;
	font-style: normal;
	left: 2rem;
	top: .5rem;
}

.ws{
	border: 1px solid #222;
	padding: .1rem;
	line-height: 1;
	margin: 0 .1rem;
	font-size: .5rem;
	display: inline-block;
	font-family: monospace;
	vertical-align: middle;
	margin-top: -3px; /* to match poor crimson alignment */
}

code.bash > span{
	color: var(--dark-button-highlight);
}

figure code.html .ws,
code.full .ws{
	border-color: #fff;
	margin-top: 0;
}

main.manual h1{
	margin-bottom: 2rem;
}

main.manual h1 + p{
	margin-top: 0;
}

main.manual h2 code{
	font-size: 1.25rem;
	top: -.1rem;
	position: relative;
	text-transform: lowercase;
}

main.manual > nav{
	position: absolute;
	left: 0;
	background: rgba(0, 0, 0, .15);
	padding: 1rem;
	border-bottom: 1px solid var(--border);
	border-right: 1px solid var(--border);
	max-width: 18%;
}

main.manual > nav ol,
main.manual > nav li{
	margin-top: .5rem;
}

main.manual > nav > p,
main.manual > nav > ol > li > p > a{
	font-family: "League Spartan";
}

main.manual > nav > ol > li > p > a{
	font-size: .75rem;
}

main.manual > nav a{
	text-decoration: none;
}

main.manual > nav ol{
	list-style: none;
}

figure code.html,
figure code.css{
	white-space: pre;
	overflow-x: auto;
}

@media(max-width: 1700px){
	main.manual > article{
		margin-left: 10rem;
	}
}

@media(max-width: 1350px){
	main.manual > article{
		margin-left: 0;
	}

	main.manual > nav{
		position: relative;
		max-width: none;
		border: none;
		background: none;
		padding-left: 2rem;
		padding-top: 2rem;
		font-family: "League Spartan";
	}

	main.manual > nav ol{
		display: none;
	}

	main.manual > article > section,
	main.manual nav + h1{
		margin-top: 0;
	}

	.manual > article > section[id] > aside.number{
		margin-top: 0;
	}
}

@media(max-width: 1000px){
	main.manual > article{
		margin-left: 2rem;
	}
}
