.project-form{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.project-form label:has(input[type="url"]){
	grid-column: 1 / span 2
}


.project-form label:has(input[name="project-manager-user-id"]){
	grid-column-start: 1;
}

h2 + table.projects{
	margin-top: 2rem;
}

table.projects thead{
	font-style: italic;
}

table.data-table .status,
table.data-table .producer{
	white-space: nowrap;
}
