html{
	margin: 0;
	padding: 0;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body{
	margin: 0;
	padding: 0;
}

a{
	outline: 0;
}

blockquote{
	margin: 0;
	quotes: none;
}

p{
	margin: 0;
}

ol{
	margin: 0;
	padding: 0;
}

ul{
	margin: 0;
	padding: 0;
}

h1{
	margin: 0;
}

h2{
	margin: 0;
}

h3{
	margin: 0;
}

h4{
	margin: 0;
}

h5{
	margin: 0;
}

h6{
	margin: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

q{
	quotes: none;
}

figure{
	margin: 0;
}

/* ie 11 compatibility */
header{
	display: block;
}

nav{
	display: block;
}

main{
	display: block;
}

footer{
	display: block;
}
/* end ie 11 compatibility */
